<template>

    <div> <!--all needs to be in one element-->

        <div class="panel panel-success">

            <div v-if="mode=='edit'" class="panel-heading">Edit Note</div>

            <div v-else class="panel-heading">New Note</div>


            <div class="panel-body">

                    <div class="form-group row">

                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" v-model:value="title" required>
                        </div>
                        <div v-if="titleError!=''" class="col-sm-offset-2 col-sm-10 validationError">
                            {{titleError}}
                        </div>

                    </div>


                    <div class="form-group row">

                        <label for="content" class="col-sm-2 control-label">Content</label>
                        <div class="col-sm-10">
                            <textarea rows="10" cols="10" class="form-control" id="content" v-model:value="content"
                                      required> </textarea>
                        </div>
                        <div v-if="contentError!=''" class="col-sm-offset-2 col-sm-10 validationError">
                            {{contentError}}
                        </div>

                    </div>


                    <div class=" btn-toolbar">

                        <button type="button" @click="btnSaveClick" class="btn btn-danger">
                            Save
                        </button>

                        <button type="button" @click="btnCancelClick" class="btn btn-primary">
                            Cancel
                        </button>

                    </div> <!--toolbar-->


            </div> <!--panel body-->
        </div> <!--panel-->

    </div>

</template>

<script>

//<note v-bind:selected-row="selectedRow" v-bind:mode="mode">

    export default {
    data() {

      return {
        title:"",
        content:"",
        titleError:"",
        contentError:"",
        }

    },
    props: ['selectedRow','mode'], //passed in from the main application

    mounted: function () {
        //if editing get this note from the db
        if(this.mode == 'edit'){
            this.getData();
        }

    },

     methods: {
     /**
        Loads the data for this record.
     **/
     getData: function () {

        let self = this;
        //get the data via ajax
        axios.get('/notes/' + this.selectedRow  + '/edit' )
            .then(function (response) {
                //the the data from the response
                self.title =  response.data.title;
                self.content = response.data.content;

            })
            .catch(function (error) {
                console.log(error);
            });

    },

        /**
            Save a new or edited note.
        **/
        btnSaveClick: function () {
            /*
            POST	    /photos	                store	photos.store
            PUT/PATCH	/photos/{photo}	        update	photos.update
            */
            if (this.mode == 'store'){
                var URL = '/notes';
                var method = 'post';
            }else{//edit
                var URL = '/notes/' + this.selectedRow;
                var method = 'patch';
            }

            this.clearErrors();
            this.ajaxSave(URL,method);

         },

        /**
            Store or update of records.
        **/
        ajaxSave: function (URL,method) {

            var self = this;

            axios({
              method: method,
              url: URL,
              data: {
                title:this.title,
                content:this.content,
                rowID:this.selectedRow
              }
              }).then(function (response) {
                sweetSuccess('Note Updated');
                //reload data
                window.location.replace('/notes');
              }).catch(function (error) {
                self.assignErrors(error.response.data);
               });
        },

        //todo find a generic way of setting these
        assignErrors: function (errors) {

            if(errors.title != undefined){
                this.titleError = errors.title[0];
            }

            if(errors.content != undefined){
                this.contentError = errors.content[0];
            }

        },

        /**
            Emits an event to the parent,
            this then changed the appliction mode
            so that the editor component is hidden
        **/
        btnCancelClick: function () {
            this.$emit('close');
        },

        clearErrors: function () {
            this.titleError = "";
            this.contentError = "";
        }

}

}


</script>
